<div class="footer">
  <div class="copyright">
    <span class="copyrightText">© 2016 Frito-Lay North America, Inc.</span>
    <%= image_tag "logo-frito-lay.png", class: "logo-frito-lay" %>
  </div>
  <div class="share">
    <a class="facebook">
      <%= image_tag "icon-facebook.png", class: "icon-facebook" %>
    </a>
    <a class="facebook">
      <%= image_tag "icon-twitter.png", class: "icon-twitter" %>
    </a>
  </div>
  <ul>
    <li><%= link_to "Official Rules", "/rules" %></li>
    <li><%= link_to "Where to Buy", "/" %></li>
    <li><%= link_to "Privacy Policy", "/" %></li>
    <li><%= link_to "Terms of Service", "/" %></li>
    <li><%= link_to "FAQ", "/" %></li>
    <li><%= link_to "Contact Us", "/" %></li>
  </ul>
</div>
