<% content_for :body_class, 'registration' %>

<div class="registration__wrapper">
  <h1 class="registration__title">Congratulations!</h1>
  <p class="registration__copy">Fill out the form below to redeem your free trial bag of Lay's Poppables.</p>
  <p class="registration__subcopy">Already have an account?
    <span><%= link_to "Log\u00A0in", new_session_path(resource_name), class: 'registration__link' %></span>
  </p>

  <% has_error = flash[:alert].present? %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "registration__form" }) do |f| %>


    <div class="registration__row">
      <div class="registration__column">
        <%= f.label :email, class: 'registration__label' %>
        <%= f.email_field :email, autofocus: true, class: 'registration__input', placeholder: 'Enter email address' %>
      </div>

      <div class="registration__column">
        <%= f.label :password, class: 'registration__label' %>
        <%= f.text_field :password, autofocus: true, class: 'registration__input', placeholder: 'Enter password' %>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__column">
        <button type="submit" class="button registration__submit">Log In</button>
      </div>
    </div>
  <% end %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag *webpack_asset_paths('pages', extension: 'js') %>
<% end %>
