<% content_for :body_class, 'gamesLanding' %>

<div class="gamesLanding__wrapper">
  <h1 class="gamesLanding__title">Let's get poppin'!</h1>
  <p class="gamesLanding__subtitle">Choose one of the games below to get started.</p>

  <div class="games">
    <% Game::NAMES.each do |slug, attrs| %>
      <div class="game">
        <!-- FPO VIDEO PREVIEW - TBD: REPLACE -->
        <img src="http://placehold.it/400x240" class="game__preview" alt="FPO GAME VID">
        <h2 class="game__title"><%= attrs[:title] %></h2>
        <p class="game__copy">How To Play:<br/> <%= attrs[:how_to_play] %></p>
        <p class="game__copy game__copy--small">Pro Tip: <%= attrs[:pro_tip] %></p>
        <%= link_to 'Play Now', game_path(slug), class: 'game__button' %>

        <!-- FPO TABLE INFO - TBD: REPLACE COPY -->
        <div class="game__table-wrapper">
          <table class="game__table">
            <thead>
              <th>Rank:</th>
              <th>Initials:</th>
              <th>Score:</th>
            </thead>
            <tbody>
              <% leaderboard_items(slug).each do |item| %>
              <tr>
                <td><%= item[:rank] %></td>
                <td><%= item[:initials] %></td>
                <td><%= item[:score] %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <a href="#view-details" class="game__view-details game__view-details--view" data-view-details="view">View Details</a>
        <a href="#hide-details" class="game__view-details game__view-details--hide" data-view-details="hide">Hide Details</a>
      </div>
    <% end %>
  </div>
</div>
