<% content_for :body_class, 'gamesLanding' %>

<div class="gamesLanding__wrapper">
  <h1 class="gamesLanding__title">Let's get poppin'!</h1>
  <p class="gamesLanding__subtitle">Choose one of the games below to get started.</p>

  <div class="games">
    <% Game::NAMES.each do |slug, attrs| %>
      <div class="game">
        <video width="100%" autoplay muted loop playsinline class="game__preview">
          <source src="<%= attrs[:video] %>.mp4" type="video/mp4">
          <source src="<%= attrs[:video] %>.webm" type="video/webm">
        </video>
        <%#<div class="game__preview--<%=slug>"></div>%>
        <h2 class="game__title"><%= attrs[:title] %></h2>
        <p class="game__copy">How To Play:<br/> <%= attrs[:how_to_play] %></p>
        <p class="game__copy game__copy--small">Pro Tip: <%= attrs[:pro_tip] %></p>
        <a href="<%= game_path(slug) %>#play" class="game__button" onclick="dataLayer.push({'event': '<%= attrs[:play_event_id] %>'})">Play Now</a>

        <div class="game__table-wrapper">
          <table class="game__table">
            <thead>
              <th>Rank:</th>
              <th>Initials:</th>
              <th>Score:</th>
            </thead>
            <tbody>
              <% leaderboard_items(slug).each do |item| %>
              <tr>
                <td><%= item[:rank] %></td>
                <td><%= item[:initials] %></td>
                <td><%= item[:score] %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <a href="#view-details" class="game__view-details game__view-details--view" data-view-details="view" onclick="dataLayer.push({'event': '<%= attrs[:detail_event_id] %>'})">Game Details</a>
        <a href="#hide-details" class="game__view-details game__view-details--hide" data-view-details="hide">Hide Details</a>
      </div>
    <% end %>
  </div>
</div>
