<!DOCTYPE html>
<html>
  <head>
    <title>Lay's Poppables - Taste the Poppabilities</title>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Experience the fun with an all-new potato snack from Lay's!">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="msapplication-config" content="/static/browserconfig.xml"/>

    <link rel="apple-touch-icon" href="/static/icon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/icon.png">
    <link rel="manifest" href="/static/manifest.json">

    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7516932/6219372/css/fonts.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Montserrat">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- GA -->
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()
    { (i[r].q=i[r].q||[]).push(arguments)}
    ,i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-59415829-18', 'auto');
    ga('create', 'UA-11401921-151', 'TMA');
    ga('send', 'pageview');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NNWDDMH');
    </script>
    <!-- End Google Tag Manager -->
    <%= yield :head %>
    <%= stylesheet_link_tag *webpack_asset_paths('home', extension: 'css') %>

    <script>
      if (window.navigator.userAgent.indexOf('MSIE ') > -1 && '<%= yield(:body_class) %>' != 'upgrade' ) {
        window.location.replace("/upgrade");
      }
    </script>
  </head>
  <body class="<%= yield(:body_class) || 'pageBody' %>">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NNWDDMH" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= yield :top %>
    <div class="backgroundWrapper"><div class="background"></div></div>
    <% unless ENV['COMING_SOON'] %>
      <div class="header">
        <div class="headerBar">
          <div class="headerLogoContainer">
            <%= link_to root_path, class: 'headerLogo' do %>
              <div class="headerLogoImage"></div>
            <% end %>
            <div class="headerGameImage"></div>
          </div>
          <div class="headerToggle">
            <div class="navImage hamburger"></div>
          </div>
          <div class="headerDesktop">
            <div class="desktopNav <%= yield(:body_class) == 'gamesLanding' ? 'active' : '' %>">
              <a href="/games">Play Games</a>
            </div>
            <div class="desktopNav <%= yield(:body_class) == 'aboutPage' ? 'active' : '' %>">
              <%= link_to 'What are Poppables?', about_path %>
            </div>
            <div class="desktopNav <%= yield(:body_class) == 'where-to-buy' ? 'active' : '' %>">
              <%= link_to 'Buy Now', where_to_buy_path %>
            </div>
            <div class="desktopNav">
              <%= link_to 'Register', new_user_registration_path %>
            </div>
          </div>
        </div>
        <div class="headerNav">
          <div class="headerModal">
            <%= link_to 'Play Games', games_path, class: 'button' %>
            <%= link_to 'What are Poppables?', about_path, class: 'button' %>
            <%= link_to 'Buy Now', where_to_buy_path, class: 'button' %>
            <%= link_to 'Register', new_user_registration_path, class: 'button' %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="content">
      <%= yield %>
    </div>
    <% unless ENV['COMING_SOON'] %>
      <div class="footer">
        <div class="copyright">
          <span class="copyrightText">&copy;<%= Time.now.year %> Frito-Lay North America, Inc.</span>
          <span class="logoFritoLay"></span>
        </div>
        <div class="share">
          <a class="facebook" href="https://www.facebook.com/lays/" target="_blank"></a>
          <a class="twitter" href="https://twitter.com/LAYS" target="_blank"></a>
        </div>
        <ul>
          <li class="internalFooterLink">
            <%= link_to 'Where To Buy', where_to_buy_path %>
          </li>
          <li><a href="http://www.fritolay.com/legal/privacy-policy.htm" target="_blank">Privacy Policy</a></li>
          <li><a href="http://www.fritolay.com/legal/terms-of-service.htm" target="_blank">Terms of Service</a></li>
          <li><a href="http://www.fritolay.com/contact.htm" target="_blank">Contact Us</a></li>
        </ul>
        <p class="mobileCopyright">&copy;<%= Time.now.year %> Frito-Lay North America, Inc.</p>
      </div>
    <% end %>
    <% if Rails.env.development? %>
      <script src="http://localhost:3808/webpack-dev-server.js"></script>
    <% end %>
    <%= yield :javascript %>
  </body>
</html>
