<!DOCTYPE html>
<html>
  <head>
    <title>Poppables</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7516932/6219372/css/fonts.css" />
  </head>

  <body>
    <div class="notFooter">
      <ul class="inline">
        <li><%= link_to 'Home', root_path %></li>
        <li><a href="#">Play Games</a></li>
        <li><%= link_to 'About Poppables', about_path %></li>
        <li><a href="#">Try Now</a></li>
        <li><%= link_to 'Gallery', gallery_path %></li>
      </ul>
      <%= yield %>
    </div>
    <div class="footer">
      <div class="copyright">
        <span class="copyrightText">© 2016 Frito-Lay North America, Inc.</span>
        <span class="logoFritoLay"></span>
      </div>
      <div class="share">
        <a class="facebook"></a>
        <a class="twitter"></a>
      </div>
      <ul>
        <li><%= link_to 'Official Rules', rules_path %></li>
        <li><a href="#">Where to Buy</a></li>
        <li><a href="http://www.fritolay.com/legal/privacy-policy.htm" target="_blank">Privacy Policy</a></li>
        <li><a href="http://www.fritolay.com/legal/terms-of-service.htm" target="_blank">Terms of Service</a></li>
        <li><%= link_to 'FAQ', faq_path %></li>
        <li><a href="http://www.fritolay.com/contact.htm" target="_blank">Contact Us</a></li>
      </ul>
    </div>
    <%= javascript_include_tag *webpack_asset_paths('common') %>
    <%= yield :javascript %>
  </body>
</html>
