<!DOCTYPE html>
<html>
  <head>
    <title>Poppables</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7516932/6219372/css/fonts.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Montserrat">
    <style>
      @keyframes spin {
          from {
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
          }
          to {
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
          }
      }

      .spinner {
          width: 50px;
          height: 50px;
          margin: auto;
      }

      .spinner:after {
          content: '';
          position: absolute;
          top: 0; left: 25%;
          animation: spin .6s infinite linear;
          border-radius: 50%;
          border-color: #FFF transparent transparent;
          border-style: solid;
          box-shadow: 0 0 0 1px transparent;
          width: 100%;
          height: 100%;
          margin: 0 0 0 -18px;
      }

      .loader {
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #2fc9d1;
      }

      .loader .spinner {
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
      }

      .ghost {
        opacity: 0;
        pointer-events: none;
      }

    </style>
  </head>
  <body>
    <div class="notFooter">
      <div class="header">
        <div class="headerBar">
          <div class="headerLogo">
            <%= link_to root_path do %>
              <div class="headerLogoImage"></div>
            <% end %>
          </div>
          <div class="headerToggle">
            <div class="navImage hamburger"></div>
          </div>
          <div class="headerDesktop">
            <div class="desktopNav"><a href="/games">Play Games</a></div>
            <div class="desktopNav"><%= link_to 'About Poppables', about_path, :class => 'active' %></div>
            <div class="desktopNav"><a href="#">Try Now</a></div>
            <div class="desktopNav"><%= link_to 'Gallery', gallery_path %></div>
          </div>
        </div>
        <div class="headerNav">
          <div class="headerModal">
            <button><a href="/games">Play Games</a></button>
            <button><%= link_to 'About Poppables', about_path %></button>
            <button><a href="#">Try Now</a></button>
            <button><%= link_to 'Gallery', gallery_path %></button>
          </div>
        </div>
      </div>
      <div class="content">
        <%= yield %>
      </div>
    </div>
    <div class="footer">
      <div class="copyright">
        <span class="copyrightText">© 2016 Frito-Lay North America, Inc.</span>
        <span class="logoFritoLay"></span>
      </div>
      <div class="share">
        <a class="facebook"></a>
        <a class="twitter"></a>
      </div>
      <ul>
        <li><%= link_to 'Official Rules', rules_path %></li>
        <li><a href="#">Where to Buy</a></li>
        <li><a href="http://www.fritolay.com/legal/privacy-policy.htm" target="_blank">Privacy Policy</a></li>
        <li><a href="http://www.fritolay.com/legal/terms-of-service.htm" target="_blank">Terms of Service</a></li>
        <li><%= link_to 'FAQ', faq_path %></li>
        <li><a href="http://www.fritolay.com/contact.htm" target="_blank">Contact Us</a></li>
      </ul>
    </div>
    <div id="loader-screen" class="loader">
      <div class="spinner"></div>
    </div>
    <script>
      function hideLoader() {
        let loader = document.getElementById('loader-screen');
        loader.classList.add("ghost");
        setTimeout(() => loader.style.display = "none", 1000);
      }
      window.onload = function() {
        hideLoader();
      }
    </script>
    <%= javascript_include_tag *webpack_asset_paths('common') %>

    <%= yield :javascript %>
    <% if Rails.env.development? %>
      <script src="http://localhost:3808/webpack-dev-server.js"></script>
    <% end %>
  </body>
</html>
