<% content_for :body_class, 'registration' %>

<div class="registration__wrapper">
  <h1 class="registration__title">Congratulations!</h1>
  <p class="registration__copy">Fill out the form below to redeem your free trial bag of Lay's Poppables.</p>
  <p>Already have an account?
    <span class="form-text form-text-yellow"><%= link_to "Log\u00A0in", new_session_path(resource_name) %></span>
  </p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <% if !resource.errors.empty? %>
      <ul class="error-list">
        <% resource.errors.full_messages.each do |message| %>
          <li class="form-error"><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div>
      <%= f.label :email, class: 'label' %>
      <%= f.email_field :email, autofocus: true, class: 'text-input', placeholder: 'Enter email address' %>
    </div>

    <div>
      <%= f.label :zip_code, class: 'label' %>
      <%= f.number_field :zip_code, class: 'text-input', placeholder: 'Enter zip code' %>
    </div>

    <div>
      <%= f.label :first_name, class: 'label' %>
      <%= f.text_field :first_name, class: 'text-input', placeholder: 'Enter your name' %>
    </div>

    <div>
      <%= f.label :last_name, class: 'label' %>
      <%= f.text_field :last_name, class: 'text-input', placeholder: 'Enter your last name' %>
    </div>

    <div class="birthdate-wrapper">
      <%= f.label :dob, 'Date of Birth', class: 'label' %>
      <div class="select-wrapper">
      <%= f.date_select :dob,
        start_year: Date.today.year,
        end_year: 1900,
        use_short_month: true,
        with_css_classes: true,
        order:  [:month, :day, :year],
        prompt: { day: 'DD', month: 'MM', year: 'YYYY' },
        :date_separator => '</div><div class="select-wrapper">'
      %>
      </div>
    </div>


    <div class="checkbox-input-wrapper">
      <%= f.check_box :terms_and_conditions %>
      <label for="user_terms_and_conditions" class="form-text form-text-yellow">I accept the <%= link_to 'Terms and Conditions', 'http://www.fritolay.com/legal/terms-of-service.htm', target: '_blank' %>.</label>
      <div class="checkbox-border"></div>
    </div>

    <div class="checkbox-input-wrapper">
      <%= f.check_box :opt_in %>
      <label for="user_opt_in">Sign Me Up For Emails</label>
      <div class="checkbox-border"></div>
    </div>

    <div class="recaptcha-wrapper">
      <%= recaptcha_tags %>
    </div>

    <button type="submit" class="button">Submit</button>

  <% end %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag *webpack_asset_paths('pages', extension: 'js') %>
<% end %>
